:root {
  --primary-1: #1F333D;
  --primary-2: #2D4958;
  --primary-3: #6E868B;
  --primary-4: #96A4A5;
  --secondary-1: #B99783;
  --secondary-2: #D3B293;
  --secondary-3: #EECFA7;
  --secondary-4: #E8DCD0;
}